<h1 class="font-normal text-3xl mb-12" id="reservation_form">Details</h1>
<div class="text-sm leading-relaxed text-gray-900/80">
  <p class="bg-yellow-100 text-xs inline-block font-semibold leading-relaxed text-yellow-700 px-4 py-2 rounded">Note: this section may be updated with additional details as we get closer.</p>
  <ul>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Schedule</h2>
          <p>You are welcome to join for as much or as little of the weekend as you would like, whether you are staying on or off-site.</p>
          <table class="w-full mt-4" cellpadding="0" cellspacing="0">
            <tr>
              <th colspan="2"><strong class="font-bold">FRIDAY, September 22</strong></th>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">4pm - 6pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Arrive and settle into cabins if you are staying on-site</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">6pm - 8pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Dinner and games at the Dining Hall and Patio</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">8pm - 10pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Bonfire with s&rsquo;mores</td>
            </tr>
              <td class="h-5" colspan="2"></td>
            </tr>
            <tr>
              <th colspan="2"><strong class="font-bold">SATURDAY, September 23</strong></th>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">8am - 10am</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Breakfast at the Dining Hall and Patio</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">10am - 3pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Camp activities</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">3:30pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Make your way to the Amphitheater</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">4pm - 4:30pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Ceremony at the Amphitheater</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">4:30pm - 5:30pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Cocktail hour at the Welcome Center</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">5:30pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Reception at the Dining Hall</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">9pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Bonfire</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">10pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Late-night snack</td>
            </tr>
              <td class="h-5" colspan="2"></td>
            </tr>
            <tr>
              <th colspan="2"><strong class="font-bold">SUNDAY, September 24</strong></th>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">10am - 12pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Brunch at the Dining Hall and Patio</td>
            </tr>
            <tr>
                <td class="border-pink-600/20 py-1 pr-3 whitespace-nowrap" style="border-top-width: 1px; border-top-style: solid;">12pm</td><td class="border-pink-600/20 py-1" style="border-top-width: 1px; border-top-style: solid;">Goodbyes</td>
            </tr>
          </table>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Location</h2>
          <ul>
              <li>
                The entire wedding weekend will be held at a summer camp in New York.
                <br>
                <br>
                <strong class="font-bold text-gray-900">Camp Schodack: 40 Krouner Rd, Nassau, NY 12123</strong>
                <br><%= link_to 'Google Maps', "https://goo.gl/maps/eEmSSHqPP4aB6FZn7", class: "text-pink-600 hover:text-pink-800", target: "_blank" %>
                <br>
                <br>
                If needed, you can reach the camp by phone: <a href="tel:(781)444-5520">(781) 444-5520</a>
            </li>
          </ul>
      </li>
      <li id="registry">
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Registry / Cause Donation</h2>
          <ul>
              <li>
                <strong class="font-semibold text-gray-900">Your presence at our wedding is more than enough! A gift is not expected.</strong>
                However, for friends and family who have expressed an interest, we have created a
                <%= link_to 'gift registry', "http://registry.theknot.com/elyse-dolde-matthew-kaliara-september-2023-ny/54487095", target: '_blank', class: "text-pink-600 hover:text-pink-800", target: "_blank" %>.
                <br>
                <br>
                We would love for you to donate to Foster Love (or another cause of your choice) in lieu of gifts, if you feel so inclined. Foster Love provides duffle bags for kids in the foster system, including a teddy bear, blanket, hygiene kit, coloring book, and crayons. This small change can make a big difference to the many children who have to use trash bags to carry their belongings.
                <br><%= link_to 'Make a donation to Foster Love', "https://fundraise.fosterlove.com/campaign/elyse-and-matthew/", target: '_blank', class: "block mt-2 text-base font-semibold text-pink-600 hover:text-pink-800", target: "_blank" %>
            </li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Attire</h2>
          <ul>
              <li>Since having absolutely no guidance on this may induce anxiety, think of the wedding ceremony and reception as dressy but not formal. The internet seems to call this Dressy Casual or Semi-Formal.</li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Lodging</h2>
          <ul>
              <li class="mt-4"><strong class="font-bold">Cabins on-site</strong>
                  <ul class="list-disc mx-4">
                      <li>Cabins are free for any guest who would like to stay on-site. There are 32 cabins throughout the summer camp.&nbsp;</li>
                      <li>If you are staying on-site, you may stay in the cabins Friday throught Sunday or just Saturday through Sunday</li>
                      <li>The cabins are quite large and can easily sleep 6 people or more. For large parties (4 or more), we will assign you an individual cabin. For smaller parties (3 or less), you can pair up and share a cabin with someone you know. You can <%= link_to 'specify who you would like to share with', edit_reservation_path(anchor: 'reservation_form'), class: 'text-pink-600 hover:text-pink-800' %> in your RSVP.</li>
                      <li>Each cabin has multiple queen and twin beds. If you are able to bring your own linens, it is appreciated! (Queen size for couples, Twin size for singles). Just <%= link_to 'let us know', optional_survey_path, class: 'text-pink-600 hover:text-pink-800' %> by <span class="whitespace-nowrap">August 1</span> if you ARE bringing linens.</li>
                      <li>Each cabin is equipped with electricity and its own bathroom.</li>
                      <li>The camp has a kitchen with refrigerator for guest use, attached to the Game Room.</li>
                  </ul>
              </li>
              <li class="mt-4"><strong class="font-bold">Tents, campers, and RVs on-site</strong>
                  <ul>
                      <li>Guests are welcome to bring tents, campers, and RVs to stay in if preferred. There is an area to set up tents and campers with showers and bathrooms nearby. RV guests may also use these showers and bathrooms. There are no hookups available on-site for RVs.</li>
                  </ul>
              </li>
              <li class="mt-4"><strong class="font-bold">Hotels nearby</strong>
                  <ul class="list-disc mx-4">
                      <li>We recommend <strong class="font-semibold text-gray-900">Hampton Inn & Suites Albany/East Greenbush</strong>
                      <ul class="list-[circle] mx-4">
                            <li>Link: <%= link_to 'Hotel website', 'https://www.hilton.com/en/hotels/albeghx-hampton-suites-albany-east-greenbush/', class: 'text-pink-600 hover:text-pink-800' %>
                            <li>Address: <%= link_to '25 Hampton Inn Drive, East Greenbush, NY, 12061', 'https://goo.gl/maps/ooTTaQ5os4GPWE9k7', class: 'text-pink-600 hover:text-pink-800' %></li>
                            <li>Distance from camp: 10 miles (15 minutes)</li>
                          </ul>
                      </li>
                      <li>There will not be a shuttle to and from the hotel. Carpooling with a designated driver is encouraged when drinking.</li>
                      <li>Even if you are staying in a hotel, you are welcome to join for any/all activities and meals throughout the weekend.</li>
                  </ul>
              </li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Parking</h2>
          <ul>
              <li>
              Parking is available in the main parking lot near the Welcome Center. If the main lot fills up, there will be camp staff available to direct guests to an overflow lot.
              <%# Both <%= link_to 'parking lots are shown on the map', map_path, target: '_blank', class: 'text-pink-600 hover:text-pink-800' %>
            </li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Getting around the camp</h2>
          <ul class="list-disc mx-4">
              <li>The cabins are within walking distance of all activities and event areas.</li>
              <li>There are golf carts available to pick you up and drop you off if needed as well as to move your luggage to and from cabins.</li>
              <li>The ceremony and reception area are a short walk from the main parking lot for guests not staying on-site.</li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Meals</h2>
          <ul class="list-disc mx-4">
              <li class="mt-4">The following meals will be provided:
              <ul class="list-[circle] mx-4">
                      <li>Friday dinner</li>
                      <li>Saturday breakfast</li>
                      <li>Saturday lunch</li>
                      <li>Saturday reception dinner</li>
                      <li>Saturday late-night snack</li>
                      <li>Sunday brunch</li>
                  </ul>
              </li>
              <li class="mt-4">Meals are served buffet-style with several options.&nbsp;</li>
              <li>Please let us know <%= link_to 'which meals you plan to join and any allergies or dietary preferences', optional_survey_path, class: 'text-pink-600 hover:text-pink-800' %> by <span class="whitespace-nowrap">August 1st.</span></li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Activities</h2>
          <ul>
              <li>These activities are available at any time throughout the weekend:
              <ul class="list-[circle] mx-4">
                      <li><%= link_to 'Gymnastics and tumbling area for kids', asset_url('gym.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Indoor and outdoor basketball', asset_url('new-IMG_5364.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li>Indoor and outdoor volleyball</li>
                      <li>Game room (with table tennis, air hockey, board games, and more)</li>
                      <li>Tetherball</li>
                      <li><%= link_to 'Tennis', asset_url('56b24d77_original.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li>Hiking trails</li>
                  </ul>
              </li>
              <li class="mt-4">Some activities require camp staff and are available at specific times (we'll pick a few based <%= link_to 'how you vote', optional_survey_path, class: 'text-pink-600 hover:text-pink-800' %>):
              <ul class="list-[circle] mx-4">
                      <li><%= link_to 'Swimming pool', asset_url('b6d58147_original.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Zipline', asset_url('new-8O8A1483.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Climbing wall', asset_url('060bdfde_original.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Go-karts', asset_url('new-8O8A1671.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Archery', asset_url('archery.png'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                      <li><%= link_to 'Slip-n-slide', asset_url('slip-slide-mobile.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
                  </ul>
              </li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Pets</h2>
          <ul>
              <li>The camp does not allow pets, unfortunately. However, the hotel we recommend above does allow pets.</li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Cell signal and Wi-fi</h2>
          <ul>
              <li>The camp has good coverage for AT&amp;T and Verizon, with spottier service for T-mobile. Wi-fi is available in the Welcome Center and Dining Hall, but not throughout the campgrounds.</li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">Smoking</h2>
          <ul class="list-disc mx-4">
              <li>Smoking is not allowed in and around the cabins.</li>
              <li>Designated smoking areas: bonfire pit, blacktop by the Dining Hall.</li>
          </ul>
      </li>
      <li>
          <h2 class="text-xl mt-10 mb-2 font-semibold text-gray-900 border-pink-600" style="border-bottom-width: 2px; border-bottom-style: solid;">What you will need:</h2>
          <ul class="list-disc mx-4">
              <li>Towels for showering and for swimming</li>
              <li>Bed linens if you are staying in the cabins (not required, but appreciated!)
              <ul class="list-[circle] mx-4">
                      <li>Sheets (Queen for couple, Twin for single) and blanket or sleeping bags</li>
                      <li>Pillows</li>
                      <li>If you ARE bringing linens, please <%= link_to 'let us know', optional_survey_path, class: 'text-pink-600 hover:text-pink-800' %> by August 1st.</li>
                  </ul>
              </li>
              <li>Bathing suits if you want to swim or use the <%= link_to '300 foot slip-n-slide', asset_url('slip-slide-mobile.jpg'), class: 'text-pink-600 hover:text-pink-800', target: '_blank' %></li>
              <li>Warm layers for chilly evenings by the fire</li>
              <li>Toiletries</li>
              <li>Raincoat and/or umbrella (just to ensure that these won&rsquo;t be necessary)</li>
              <li>Bug spray</li>
              <li>Sunscreen</li>
          </ul>
      </li>
  </ul>
</div>

<% if @reservation %>
    <a href="#reservation_form" class="no-underline rounded-lg py-3 px-5 bg-pink-600 hover:bg-pink-700 text-white inline-block font-medium cursor-pointer">Back to RSVP</a>
<% end %>
