<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Elyse and Matthew&#039;s Wedding</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="color-scheme" content="light only" />
	<meta name="description" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:site_name" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:title" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Elyse and Matthew&#039;s Wedding" />
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "carrd", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?display=swap&family=Inter:200,200italic,300,300italic,400,400italic,700,700italic" %>
	<%= javascript_importmap_tags %>
</head>

<body class="font-sans">
    <div class="bg hidden mg:block" style="background-image: url(<%= asset_url 'bg.png' %>);"></div>
    <div id="wrapper">
        <% if current_user %>
            <div class="text-right p-6 block space-x-8">
                <%= link_to 'Details', root_path, class: 'text-pink-600 hover:text-pink-800 font-medium' %>
                <%= link_to 'My RSVP', edit_reservation_path, class: 'text-pink-600 hover:text-pink-800 font-medium' %>
                <%= link_to 'Log out', users.sign_out_path, class: 'text-pink-600 hover:text-pink-800 font-medium' %>
            </div>
        <% end %>
        <% if !flash[:notice].blank? %>
            <div class="rounded-md bg-green-600 py-3 px-6 my-4 mx-2 max-w-3xl md:mx-auto">
                <div class="text-md text-white">
                    <%= flash[:notice] %>
                </div>
            </div>
        <% end %>

        <div id="main">
            <div class="inner">
                <section id="home-section">
                    <div id="container04" class="style2 container columns full">
                      <div class="wrapper">
                          <div class="inner" data-reorder="0,1" data-reorder-breakpoint="medium">
                              <div class="flex flex-col justify-between h-full">
                                  <h1 id="text02" class="style5">Elyse and Matthew&#039;s Wedding Weekend</h1>
                                  <div>
                                    <%= yield %>
                                  </div>
                              </div>
                              <div>
                                  <div id="image03" class="image full" data-position="center">
                                      <span class="frame">
                                        <%= image_tag 'image03.jpg' %>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container06" class="style3 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <h2 id="text20" class="style3">Dates and Times</h2>
                              <div class="timer" data-visibility="desktop">
                                <ul>
                                  <li class="number days">
                                    <div class="item">
                                      <span class="digit count3 text-[60px] md:text-[85px]">
                                        <span class="component" style="line-height: 92px; height: 92px;">
                                            <% wedding_day = Time.new(2023,9,23,16,0) %>
                                            <% if Time.now > wedding_day %>
                                                Sep 23, 2023
                                            <% elsif ((wedding_day - Time.now).round / 1.hours) < 48  %>
                                                <%= (wedding_day - Time.now).round / 1.hours %> hours!
                                            <% else %>
                                                <%= ((wedding_day - Time.now).ceil / 1.days) + 1 %> days!
                                            <% end %>
                                        </span>
                                      </span>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <hr id="divider04" />
                              <p id="text25" class="style2"><span class="p">Date &amp; Time: <strong>September 23, 2023 @ 4PM</strong><br> Location: <strong><a href="https://g.page/campschodack1957?share">Camp Schodack in Nassau, NY</a></strong></span></p>
                          </div>
                      </div>
                  </div>
                  <div id="container09" class="style7 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <hr id="divider02" class="style1">
                              <h1 class="font-normal text-3xl mb-12" id="reservation_form">Exploring the Camp</h1>
                              <div id="gallery01" class="gallery">
                                  <div class="inner">
                                      <ul>
                                          <li>
                                              <%= link_to asset_url('a6fcc130_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'a6fcc130_original.jpg', alt: 'Cabins' %></span></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('d1c0c81b_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'd1c0c81b_original.jpg', alt: 'Dining' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('df6bdef2_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'df6bdef2_original.jpg', alt: 'Traveling Tavern' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('f55dc9a3_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'f55dc9a3_original.jpg', alt: 'Bonfire' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('ec55cd4f_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'ec55cd4f_original.jpg', alt: 'Beds' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('060bdfde_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag '060bdfde_original.jpg', alt: 'Climbing wall' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('533a734e_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag '533a734e_original.jpg', alt: 'Welcome Center' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('80ed90e0_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag '80ed90e0_original.jpg', alt: 'Waterslide' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('ae73d435_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'ae73d435_original.jpg', alt: 'Gazebo' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('19cad2f4_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag '19cad2f4_original.jpg', alt: 'Stargazing' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('b6d58147_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'b6d58147_original.jpg', alt: 'Pool' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('56b24d77_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag '56b24d77_original.jpg', alt: 'Tennis Courts' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('c2d004cf_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'c2d004cf_original.jpg', alt: 'Forest' %></span>
                                                  <% end %>
                                          </li>
                                          <li>
                                              <%= link_to asset_url('c32fcfc7_original.jpg'), class: 'thumbnail', target: '_blank' do %>
                                                  <span class="frame"><%= image_tag 'c32fcfc7_original.jpg', alt: 'Patio' %></span>
                                                  <% end %>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="details" data-scroll-id="email" data-scroll-behavior="default" data-scroll-offset="0" class="style1 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <%= render 'layouts/details' %>
                          </div>
                      </div>
                  </div>
                  <div id="container08" class="style4 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <p id="text01" class="style6">Matthew &amp; Elyse © 2023. All rights reserved.</p>
                          </div>
                      </div>
                  </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>