<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Elyse and Matthew&#039;s Wedding</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="color-scheme" content="light only" />
	<meta name="description" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:site_name" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:title" content="Elyse and Matthew&#039;s Wedding" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Elyse and Matthew&#039;s Wedding" />
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "carrd", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?display=swap&family=Inter:200,200italic,300,300italic,400,400italic,700,700italic" %>
	<%= javascript_importmap_tags %>
</head>

<body class="font-sans">
    <div class="bg" style="background-image: url(<%= asset_url 'bg.png' %>);"></div>
    <div id="wrapper">
				<% if current_user %>
					<div class="text-right p-6 block space-x-8">
						<%= link_to 'Information', root_path %>
						<%= link_to 'My Reservation', reservation_path %>
						<%= link_to 'Log out', users.sign_out_path %>
					</div>
				<% end %>
        <div id="main">
            <div class="inner">
                <section id="home-section">
                    <div class="style3 container full">
                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <h1 id="text02" class="style3">Elyse and Matthew&#039;s Wedding Weekend</h1>
                              </div>
                          </div>
                      </div>
                  </div>
									<%= yield %>
                  <div id="container07" data-scroll-id="email" data-scroll-behavior="default" data-scroll-offset="0" class="style1 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <hr id="divider03" class="style1">
                              <h2 id="text12" class="style4">Questions and Answers</h2>
                              <p id="text13" class="style1">To reduce paper and postage, we will be sending out most RSVPs via email. Please provide your name and email to make sure we have it!</p>
                              <p class="style1 style1a">Have a question that wasn't answered? Send an email to <%= mail_to 'wedding@kaliara.com' %> and we will get back to you right away.</p>
                          </div>
                      </div>
                  </div>
                  <div id="container08" class="style4 container default full">
                      <div class="wrapper">
                          <div class="inner">
                              <p id="text01" class="style6">Matthew &amp; Elyse © 2023. All rights reserved.</p>
                          </div>
                      </div>
                  </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>